**/target/
/project/target/
/project/project/
*.log
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.sc
/out/
.metals/
.bloop/
.bsp/
.worksheet/
.DS_Store
Thumbs.db
.worksheet.repl
/dist/
/bin/
/lib_managed/
/logs/
/tmp/
/eln-cache/
/auto-save-list/
/saveplace/
/bookmarks
.emacs.desktop
*~
#*
